@import "./components/admin_panel/admin_panel.css";
@import "./components/admin_panel/history.css";
@import "./components/bank/bank.css";
@import "./components/bank/main_bank.css";
@import "./components/financial/financial.css";
@import "./components/game_station/game_station.css";
@import "./components/main/account.css";
@import "./components/main/base.css";
@import "./components/main/main.css";
@import "./components/main/mobpanel.css";
@import "./components/manual/manual.css";
@import "./components/maps/maps_page.css";
@import "./components/registration/autorization.css";
@import "./components/stocks/stock_operations.css";
@import "./components/stocks/stocks_page.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
